      </div>
      <footer class="text-center">
        <small>Ntalk (Node Talk) - Este é um projeto exemplo utilizado como didática no livro: <a href="http://www.casadocodigo.com.br/products/livro-nodejs" target="_blank">Aplicações web real-time com Node.js</a></small>
      </footer>
    </div>
  </body>
</html>