<% include header %>
<header class="row-fluid text-center">
  <h1>Ntalk</h1>
  <h4>Infelizmente essa página não existe :(</h4>
  <hr>
  <p>Vamos voltar <a href="/">home page?</a> :)</p>
</header>
<% include footer %>