<% include ../header %>
<header>
  <h1>Ntalk</h1>
  <h4>Bem-vindo!</h4>
</header>
<section>
  <form action="/entrar" method="post">
    <input type="hidden" name="_csrf" value="<%- _csrf %>">
    <input type="text" name="usuario[nome]" placeholder="Nome">
    <br>
    <input type="text" name="usuario[email]" placeholder="Email">
    <br>
    <button type="submit">Entrar</button>
  </form>
</section>
<% include ../footer %>